---
layout: page
title: Events & Markets
headerImage: IMG_9508.jpg
---

{% if site.events.size > 0 %}
  {% assign last_year = 0 %}
  {% assign last_month = 0 %}
  {% for event in site.events %}
    {% capture current_year %}{{ event.startDate | date: '%Y' }}{% endcapture %}
    {% capture current_month %}{{ event.startDate | date: '%B' }}{% endcapture %}
    {% if last_month != current_month %}
      <h3 class="f3 mt4 tc">{{ event.startDate | date: '%B %Y' }}</h3>
    {% endif %}
      <div class="mb2 tc"><a target="_blank" class="link crema b" href="{{ event.link }}">{{ event.title }}</a><br>{% if event.dateString %}{{ event.dateString }}{% else %}{{ event.startDate | date: '%B %-d' }}{% endif %} • {{ event.startTime }}-{{ event.endTime }}<br><a class="sky" href="{{ event.locationLink }}">{{ event.locationName }}</a></div>

    {% assign last_year = current_year %}
    {% assign last_month = current_month %}
  {% endfor %}
{% else %}
  <p>Check back soon to find our market and event schedule!</p>
{% endif %}
