<header class="fixed-l bg-white w-100 bb b--light-gray">
  {% unless page.hideCta %}
  <!-- <div class="pa2 tc bg-crema">
    <p class="mb0 white f6 f5-ns"><span class="b">Thanksgiving orders are now sold out! Thank you and see you during deliveries!</span><br>Visit us at <a class="white" href="http://tradingpost.market">Trading Post Market</a> Tuesday 11/20 if you missed your chance to order.
  </div> -->
  {% endunless %}
  <nav class="ph2 pv1 flex-l justify-between items-center tc tl-l">
    <a class="w-auto db pa2 mt0 left-0 f4 ttu tracked sky link lh-solid b" href="/">Voyageurs Sourdough</a>
    <ul class="list mv0 pl0 tr-l">
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link crema f6 pa1 b dim ttu tracked" href="/events">Events & Markets</a></li>
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link crema f6 pa1 b dim ttu tracked" href="/faq">FAQs</a></li>
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link crema f6 pa1 b dim ttu tracked" href="https://tinyletter.com/voyageurssourdough">Newsletter</a></li>
      {% unless page.hideCta %}
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link bg-sky white ba bw1 b--white-50 f6 ph3 pv2 br3 b dim ttu tracked" target="_blank" href="{{ site.orderLink }}">Order now</a></li>
      {% endunless %}
    </ul>
  </nav>
</header>
