<header class="fixed-l bg-white w-100 bb b--light-gray">
  {% unless page.hideCta %}
  <div class="pa2 tc bg-crema">
    <p class="mb0 white f6 f5-ns"><span class="b">Thanksgiving orders are now open!</span> Order by 11/18 for delivery 11/20 or 11/21.  <a class="dib link bg-white crema f6 ph2 pv1 ph3-ns pv2-ns br3 ma1 b dim ttu tracked" target="_blank" href="/thanksgiving">Order now</a></p>
  </div>
  {% endunless %}
  <nav class="ph2 pv1 flex-l justify-between items-center tc tl-l">
    <a class="w-auto db pa2 mt0 left-0 f4 ttu tracked sky link lh-solid b" href="/">Voyageurs Sourdough</a>
    <ul class="list mv0 pl0 tr-l">
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link crema f6 pa1 b dim ttu tracked" href="/events">Events & Markets</a></li>
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link crema f6 pa1 b dim ttu tracked" href="/faq">FAQs</a></li>
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link crema f6 pa1 b dim ttu tracked" href="https://tinyletter.com/voyageurssourdough">Newsletter</a></li>
      {% unless page.hideCta %}
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link bg-sky white ba bw1 b--white-50 f6 ph3 pv2 br3 b dim ttu tracked" target="_blank" href="{{ site.orderLink }}">Order now</a></li>
      {% endunless %}
    </ul>
  </nav>
</header>
