<header class="w-100">
  <nav class="pa3 flex-ns justify-between items-center tc tl-ns">
    <a class="dib pa2 mt0 left-0 f3 ttu tracked sky link lh-solid" href="/"><span class="b">Voyageurs Sourdough</span></a>
    <ul class="list mv0 pl0 tr-ns">
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link crema f6 pa1 b dim ttu tracked" href="/events">Events & Markets</a></li>
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link crema f6 pa1 b dim ttu tracked" href="/faq">FAQs</a></li>
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link crema f6 pa1 b dim ttu tracked" href="https://tinyletter.com/voyageurssourdough">Newsletter</a></li>
      <li class="dib mv0 pa1 pa2-ns"><a class="dib link bg-sky white f6 ph3 pv2 br3 b dim ttu tracked" target="_blank" href="{{ site.orderLink }}">Order now</a></li>
    </ul>
  </nav>
</header>
