<section class="pa3 pa4-ns mt4 bg-top cover" style="background-image: url(/images/background-pattern.svg);">
  <div class="pa4 mw8 center bg-white">
    <div class="mw6 center f4">
      <h2 class="mt0 crema tc">Find us in your neighborhood</h2>

      <p>Check back soon to find out where to find bread in your neighborhood! Sign up for the newsletter to find out when bread is available and get behind-the-scenes stories and notes on the adventures of breadmaking.</p>
    </div>
  </div>
</section>
