<section class="pa3 pa4-ns mt4 bg-top cover" style="background-image: url(/images/background-pattern.svg);">
  <div class="pa4 mw8 center bg-white">
    <div class="mw6 center f4">
      <h2 class="mt0 crema tc">Find us in your neighborhood</h2>

      <p>Check back soon to find out where to find bread in your neighborhood! Sign up for the newsletter to find out when bread is available and get behind-the-scenes stories and notes on the adventures of breadmaking.</p>

      <div class="pa3 bg-crema br3">
        <form action="https://tinyletter.com/voyageurssourdough" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/voyageurssourdough', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <div>
            <label class="white i" for="tlemail">Enter your email address</label>
            <input type="text" class="pa2 sky w-100 mt2" name="email" id="tlemail" />
          </div>
          <input type="hidden" value="1" name="embed"/>
          <input class="mt3 dib ph3 pv2 tc link bg-white crema f5 b br3 bn" type="submit" value="Subscribe" />
        </form>
      </div>
    </div>
  </div>
</section>
