.kyrial { font-family: "kyrial-sans-pro",sans-serif; }

.crema { color: #ce8368; }
.sky { color: #4b8098; }
.bg-crema { background-color: #ce8368; }
.bg-sky { background-color: #bfd6da; }

.b--sky { border-color: #4b8098; }

@media(min-width: 30em) {
  .white-ns {
    color: #FFFFFF;
  }
}

@media(min-width: 60em) {
  .vh-85-l {
    height: 85vh;
  }
}
